.container{
    width: 100%;
}

.grid1, .grid2, .grid3, .grid4, 
.grid5, .grid6, .grid7, .grid8, 
.grid9, .grid10, .grid11, .grid12{
    float: left;
} 

.grid1 {width: 8.33%;}
.grid2 {width: 16.66%;}
.grid3 {width: 25%;}
.grid4 {width: 33.33%;}
.grid5 {width: 41.66%;}
.grid6 {width: 50%;}
.grid7 {width: 58.33%;}
.grid8 {width: 66.66%;}
.grid9 {width: 75%;}
.grid10 {width: 83.33%;}
.grid11 {width: 91.66%;}
.grid12 {width: 100%;}

.row{
    clear: both;
    overflow: hidden;
}